/*Optimización código*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif, Times, serif;
  background-image: URl(/img/imagen-fondo.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: transparent;
  height: fit-content;
  background-size: cover;
}
h1 {
  color: rgb(144, 59, 31);
  font-size: 60px;
  text-align: center;
  padding: 10px;
  padding-bottom: 80px;
}
h2 {
  color: rgb(144, 59, 31);
  font-size: 40px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 120px;
}
main {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 20px;
  background: rgba(247, 205, 52, 0.6);
  text-align: left;
}
.box {
  border: 1px solid;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 60px;
  border-color: white;
  background-color: white;
  display: flex;
  order: 1;
  display: flex;
  flex-direction: column;
}

.tamaño {
  position: relative;
  width: 270px;
  height: 290px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 1s ease-out;
}
.imagen {
  background-image: url(/img/img0.png);
}
.imagen1 {
  background-image: url(/img/img1.png);
}
.imagen2 {
  background-image: url(/img/img2.png);
}
.imagen3 {
  background-image: url(/img/img3.png);
}
.imagen4 {
  background-image: url(/img/img4.png);
}
.imagen5 {
  background-image: url(/img/img5.png);
}
.imagen6 {
  background-image: url(/img/img6.png);
}

#inicio {
  color: rgb(144, 59, 31);
  text-align: left;
  padding-left: 25px;
  padding-top: 30px;
}
#letras {
  color: rgb(144, 59, 31);
  text-align: left;
  padding-left: 25px;
  padding-top: 30px;
}
fieldset {
  border-color: transparent;
  font-size: 1.8em;
}

#letra {
  font-size: 25px;
}
.comenzar {
  color: white;
  font-family: "Nunito", sans-serif, Times, serif;
  background-color: rgb(201, 115, 16);
  font-size: 20px;
  border: none;
  padding: 5px 10px;
  border-radius: 5%;
  cursor: pointer;
}
.comprobar {
  color: white;
  background: rgb(201, 115, 16);
  font-size: 20px;
  font-family: "Nunito", sans-serif, Times, serif;
  border: none;
  padding: 5px 10x;
  border-radius: 5%;
  cursor: pointer;
}
.deshabilitado {
  color: white;
  background: grey;
  font-size: 20px;
  font-family: "Nunito", sans-serif, Times, serif;
  border: none;
  border-radius: 5%;
  padding: 5px 10px;
}
.parrafoNuevo {
  color: rgb(144, 59, 31);
  font-family: "Nunito", sans-serif, Times, serif;
  font-size: 30px;
  text-align: center;
}
.palabraAleatoria {
  padding: 2px;
  align-items: left;
  margin: 10px 10px 0px;
}
.error {
  color: white;
  background-color: red;
  font-family: "Nunito", sans-serif, Times, serif;
  padding: 2px 5px;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.correcto {
  color: white;
  background-color: green;
  padding: 2px 5px;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  text-align: center;
}

#inicio {
  color: rgb(144, 59, 31);
  text-align: center;
}
#letras {
  color: rgb(144, 59, 31);
  text-align: center;
}
.parrafoNuevo {
  font-size: 20px;
}
.guionesBajos {
  gap: 9px;
  margin-bottom: 10px;
}
footer {
  order: 3;
}
/*PC*/
@media (max-width: 1440px) {
  body {
    display: grid;
    grid-template-rows: 5rem 40rem 5rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  legend {
    font-size: 30px;
    text-align: center;
    min-width: 600px;
    max-width: 600px;
    margin-left: 0px;
  }
  label {
    font-size: 30px;
    text-align: center;
    min-width: 600px;
    max-width: 600px;
    margin-left: 0px;
  }
  .imagen {
    order: 2;
    width: 250px;
    float: none;
    margin-top: 10px;
    margin-right: 10px;
  }
  .imagen1 {
    order: 2;
  }
  .imagen2 {
    order: 2;
  }
  .imagen3 {
    order: 2;
  }
  .imagen4 {
    order: 2;
  }
  .imagen5 {
    order: 2;
  }
  .imagen6 {
    order: 2;
  }
  h1 {
    font-size: 35px;
    padding-bottom: 15px;
  }
  h2 {
    font-size: 35px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 75px;
  }
  #inicio {
    font-size: 20px;
    padding-left: 0;
    padding-top: 0;
  }
  #letras {
    font-size: 20px;
    padding-left: 0;
    padding-top: 0;
    text-align: center;
  }
  .comenzar {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .deshabilitado {
    font-size: 20px;
  }
  #letras fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  #inicio {
    text-align: center;
    margin-top: 25px;
  }
  .parrafoNuevo {
    font-size: 25px;
  }
  .error {
    margin: 10px 10px;
    font-size: 27px;
  }
  .correcto {
    margin: 10px 10px;
    font-size: 27px;
  }
  .fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .comprobar {
    font-size: 20px;
    width: fit-content;
  }
}

/*Laptop*/
@media (max-width: 1024px) {
  body {
    display: grid;
    grid-template-rows: 5rem 40rem 5rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: auto;
    width: 800px;
  }
  .parrafoNuevo {
    font-size: 25px;
  }
  .error {
    font-size: 20px;
    min-width: 650px;
    max-width: 650px;
  }
  .correcto {
    font-size: 20px;
    min-width: 650px;
    max-width: 650px;
  }
  legend {
    font-size: 25px;
    min-width: 550px;
    max-width: 550px;
  }
  label {
    font-size: 25px;
    min-width: 550px;
    max-width: 550px;
  }
  h2 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .deshabilitado {
    font-size: 20px;
    margin-top: 5px;
    padding: 5px 10px;
  }
  .comprobar {
    display: inline-block;
    padding: 5px 10px;
  }
}

/*Tablet*/
@media (max-width: 768px) {
  body {
    display: grid;
    grid-template-rows: 5rem 40rem 5rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 550px;
  }
  legend {
    font-size: 20px;
    text-align: center;
    min-width: 550px;
    max-width: 550px;
  }
  label {
    font-size: 20px;
    text-align: center;
    min-width: 550px;
    max-width: 550px;
  }
  h1 {
    font-size: 30px;
    margin-top: 35px;
    padding-bottom: 15px;
  }
  h2 {
    font-size: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  #inicio {
    font-size: 10px;
    padding-left: 0;
    padding-top: 0;
  }
  #letras {
    font-size: 10px;
    padding-left: 0;
    padding-top: 0;
    text-align: center;
  }
  .comenzar {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 15px;
  }
  .error {
    font-size: 15px;
    min-width: 500px;
    max-width: 500px;
    margin-left: 25px;
  }
  .correcto {
    font-size: 15px;
    min-width: 500px;
    max-width: 500px;
    margin-left: 25px;
  }
  #inicio {
    text-align: center;
    margin-top: 20px;
  }
  .parrafoNuevo {
    font-size: 20px;
  }
  .deshabilitado {
    font-size: 15px;
    margin-top: 5px;
  }
  #letra {
    font-size: 15px;
  }

  .comprobar {
    font-size: 15px;
  }
}
/*Mobile L*/
@media (max-width: 425px) {
  body {
    display: grid;
    grid-template-rows: 5rem 40rem 5rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: 380px;
  }
  legend {
    min-width: 350px;
    max-width: 5350px;
  }
  label {
    min-width: 350px;
    max-width: 350px;
  }
  .imagen {
    width: 380px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 10px;
  }
  #inicio {
    font-size: 10px;
    padding-left: 0;
    padding-top: 0;
  }
  #letras {
    font-size: 10px;
    padding-left: 0;
    padding-top: 0;
  }
  .error {
    margin-left: 0px;
    margin-right: 0px;
    min-width: 350px;
    max-width: 350px;
  }
  .correcto {
    margin-left: 0px;
    margin-right: 0px;
    min-width: 350px;
    max-width: 350px;
  }
  .tamaño {
    width: 250px;
  }
}
/*Mobile M*/
@media (max-width: 375px) {
  body {
    display: grid;
    grid-template-rows: 5rem 50rem 5rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 300px;
  }
  legend {
    min-width: 280px;
    max-width: 280px;
  }
  label {
    min-width: 280px;
    max-width: 280px;
  }
  h1 {
    font-size: 30px;
    padding-bottom: 15px;
  }
  h2 {
    font-size: 20px;
    margin-top: 15px;
  }
  #inicio {
    font-size: 10px;
    padding-left: 0;
    padding-top: 0;
  }
  #letras {
    font-size: 10px;
    padding-left: 0;
    padding-top: 0;
  }
  .error {
    margin-top: 10px;
    min-width: 280px;
    max-width: 280px;
  }
  .correcto {
    margin-top: 10px;
    min-width: 280px;
    max-width: 280px;
  }
  .tamaño {
    width: 250px;
  }
}
/*Mobile S*/
@media (max-width: 325px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 280px;
  }
  .box {
    font-size: 5 px;
  }
  legend {
    min-width: 250px;
    max-width: 250px;
  }
  label {
    min-width: 250px;
    max-width: 250px;
  }

  .imagen {
    order: 2;
    width: 220px;
    float: none;
    margin-top: 35px;
    margin-bottom: 5px;
  }

  #inicio {
    font-size: 10px;
    padding-left: 0;
    padding-top: 0;
  }

  #letras {
    font-size: 10px;
    padding-left: 0;
    padding-top: 0;
  }
  .error {
    min-width: 250px;
    max-width: 250px;
  }
  .correcto {
    min-width: 250px;
    max-width: 250px;
  }
  .tamaño {
    width: 250px;
  }
  #letra {
    font-size: 15px;
  }
}
