/*hacer limpieza del documento*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*separación del cuerpo de la pÃ¡gina del margen y su formato*/
body {
  font-family: "Nunito", sans-serif, Times, serif;
  background-image: URl(/img/imagen-fondo.jpeg);
  background-repeat: no-repeat;
  background-color: transparent;
  height: fit-content;
  background-size: cover;
}

/*color tí­tulo del juego*/
h1 {
  color: rgb(144, 59, 31);
  font-size: 60px;
  text-align: center;
  padding: 10px;
  padding-bottom: 80px;
}
h2 {
  color: rgb(144, 59, 31);
  font-size: 40px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 120px;
}
/*alinear los textos del div con respecto a la imagen del ahorcado*/
main {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 20px;
  background: rgba(247, 205, 52, 0.6);
  text-align: left;
}
/* Caja que contiene el formulario y la imagen del ahorcado*/
.box {
  border: 1px solid;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 60px;
  border-color: white;
  background-color: white;
  display: flex;
}

/*incorporar la imagen del ahorcado*/
.tamaño {
  position: relative;
  width: 270px;
  height: 290px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 1s ease-out;
}
.imagen {
  background-image: url(/img/img0.png);
}
.imagen1 {
  background-image: url(/img/img1.png);
}
.imagen2 {
  background-image: url(/img/img2.png);
}
.imagen3 {
  background-image: url(/img/img3.png);
}
.imagen4 {
  background-image: url(/img/img4.png);
}
.imagen5 {
  background-image: url(/img/img5.png);
}
.imagen6 {
  background-image: url(/img/img6.png);
}

/*color de las casillas*/
#inicio {
  color: rgb(144, 59, 31);
  text-align: left;
  padding-left: 25px;
  padding-top: 30px;
}
#letras {
  color: rgb(144, 59, 31);
  text-align: left;
  padding-left: 25px;
  padding-top: 30px;
}
/*caja donde se introduce la letra a comprobar*/
fieldset {
  border-color: transparent;
  font-size: 1.8em;
}
/*agrandar la caja de texto de la letra a introducir*/
#letra {
  font-size: 25px;
}

/*Ajuste color/tamaño botones*/
.comenzar {
  color: white;
  background-color: rgb(201, 115, 16);
  font-size: 20px;
  border: none;
  padding: 5px 10px;
  border-radius: 5%;
  cursor: pointer;
}
.comprobar {
  color: white;
  background: rgb(201, 115, 16);
  font-size: 20px;
  border: none;
  padding: 0.5% 0.5% 0.5% 0.5%;
  border-radius: 5%;
  cursor: pointer;
}
.deshabilitado {
  color: white;
  background: grey;
  font-size: 20px;
  border: none;
  padding: 0.5% 0.5% 0.5% 0.5%;
  border-radius: 5%;
}
.parrafoNuevo {
  color: rgb(144, 59, 31);
  font-size: 25px;
  text-align: center;
}

.palabraAleatoria {
  margin: 20px;
  padding: 2px;
  align-items: left;
}
.error {
  color: white;
  background-color: red;
  padding: 2px 5px;
  font-weight: bold;
  font-size: 20px;
  margin-left: 100px;
  margin-bottom: 20px;
  text-align: center;
}
.correcto {
  color: white;
  background-color: green;
  padding: 2px 5px;
  font-weight: bold;
  font-size: 20px;
  margin-left: 100px;
  margin-bottom: 20px;
  text-align: center;
}
/*Mobile S/* /*¡¡¡este se muestra bien !!!*/
@media (max-width: 325px) {
  body {
    display: grid;
    grid-template-rows: 5rem 40rem 5rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 30px;
    width: 280px;
  }

  .box {
    order: 1;
    display: flex;
    flex-direction: column;
    font-size: 5 px;
  }
  legend {
    text-align: left;
  }
  label {
    text-align: left;
  }

  .imagen {
    order: 2;
    width: 100px;
    float: none;
    margin-top: 10px;
  }
  h1 {
    font-size: 30px;
    padding-bottom: 15px;
  }
  h2 {
    font-size: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  #inicio {
    font-size: 10px;
    padding-left: 0;
    padding-top: 0;
  }

  #letras {
    font-size: 10px;
    padding-left: 0;
    padding-top: 0;
  }
  #letras fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  footer {
    order: 3;
  }
}
/*color de las casillas*/
#inicio {
  color: rgb(144, 59, 31);
}
#letras {
  color: rgb(144, 59, 31);
}
.parrafoNuevo {
  font-size: 20px;
}
.palabraAleatoria {
  margin: 20px;
  padding: 2px;
  align-items: left;
}
/*Mobile M*/ /* /*¡¡¡este se muestra bien !!!*/
@media (max-width: 375px) {
  body {
    display: grid;
    grid-template-rows: 5rem 40rem 5rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .box {
    order: 1;
    display: flex;
    flex-direction: column;
  }
  legend {
    text-align: left;
  }
  label {
    text-align: left;
  }
  .imagen {
    order: 2;
    width: 380px;
    float: none;
    margin-top: 10px;
  }
  h1 {
    font-size: 30px;
    padding-bottom: 15px;
  }
  h2 {
    font-size: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  #inicio {
    font-size: 10px;
    padding-left: 0;
    padding-top: 0;
  }

  #letras {
    font-size: 10px;
    padding-left: 0;
    padding-top: 0;
  }
  #letras fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  footer {
    order: 3;
  }
}
/*color de las casillas*/
#inicio {
  color: rgb(144, 59, 31);
  text-align: center;
}
#letras {
  color: rgb(144, 59, 31);
  text-align: center;
}
.parrafoNuevo {
  font-size: 20px;
}
/*Tablet*/
@media (max-width: 768px) {
  body {
    display: grid;
    grid-template-rows: 5rem 40rem 5rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .box {
    order: 1;
    display: flex;
    flex-direction: column;
  }
  legend {
    text-align: left;
  }
  label {
    text-align: left;
  }
  .imagen {
    order: 2;
    width: 250px;
    float: none;
    margin-top: 10px;
  }
  h1 {
    font-size: 30px;
    padding-bottom: 15px;
  }
  h2 {
    font-size: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  #inicio {
    font-size: 10px;
    padding-left: 0;
    padding-top: 0;
  }

  #letras {
    font-size: 10px;
    padding-left: 0;
    padding-top: 0;
  }
  .comenzar {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  #letras fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  footer {
    order: 3;
  }
  /*color de las casillas*/
  #inicio {
    color: rgb(144, 59, 31);
    text-align: center;
    margin-top: 20px;
  }
  #letras {
    color: rgb(144, 59, 31);
    text-align: center;
  }
  .parrafoNuevo {
    font-size: 20px;
  }
}
/*Laptop*/
@media (max-width: 1024px) {
  body {
    display: grid;
    grid-template-rows: 5rem 40rem 5rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: auto;
    width: auto;
  }
  #inicio {
    color: rgba(115, 37, 11, 0.664);
  }
  #letras {
    color: rgba(115, 37, 11, 0.664);
  }
  .parrafoNuevo {
    font-size: 30px;
  }
}
